<nav class="navbar navbar-default" role="navigation" id="navbar-default">
	<div class="container-fluid">

		<ul class="nav navbar-nav" id="atag">
			<li>
				<a href="/">Hjem</a>
			</li>
			<li>
				<a href="/omslipseknuden">Om Slipseknuden</a>
			</li>
			<li>
				<a href="/garanti">Garanti</a>
			</li>
			<li>
				<a href="/kontakt">Kontakt</a>
			</li>
			<li>
				<a href="/nyheder">Nyheder</a>
			</li>
			<li>
				<a href="/produkter">Produkter</a>
			</li>
			<li>
				<input class="søg" type="text" name="search" placeholder="Søg...">
			</li>
			<i class="fa fa-facebook"></i>
			<i class="fa fa-twitter"></i>
		</ul>

	</div>

	<div class="col-md-12" id="ingenfarve">
		<img class="col-md-4" src="/images/logo.jpg">
	</div>

</nav>